html,body{
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}
main{
background-color: white;
max-width: 800px;
margin: auto;
color: black;
font-size: 12px;
font-weight: bold;
}
a{
  text-decoration: none;
  color:white;
 
  padding: 5px;
  font-weight: bold;
}
a.current {

  color:white;
}
nav a.current {
  background:white;
  color:grey;

}

nav{
width: 800px;
margin: auto;
background-color: grey;
}
nav ul li{

  display: inline-block;
  text-align: center;
  background-color: blue;
}

header{
  font-size: 48px;
text-align:center;
}
li >a{

  color: white;
  display: block;
}
label{
  display: inline-block;
}

input{
  width: 400px;
  padding:2px;
  margin-bottom: 5px;
}
textarea{
  width: 390px;
  height: 150px;

  resize: none;
}
.formStyle{
  display: block;
  text-align: center;
  width: 800px;
  margin: auto;
}
form{
  display: inline-block;
  margin: auto;
  text-align: left;
}
.error {color: #FF0000;}
footer{
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
  width: 100%;
}
figure{
display: inline-block;
width: 100px;
height:100px;
}
img{
  
  height: 100px;
  width: 100px;
}
.imageDetail{
  height: 250px;
  width: 250px;
  display: inline-block;

}
.imageDetail img{
  height: 200px;
  width: 200px;
}
.productDetail{
  height: 200px;
  width: 250px;
  display: inline-block;
 }

 .product_wrapper{
   width: 100%;
   text-align: center;
 }
 .product_wrapper form{
  padding: 5px;

 }
